h1{
    color:$negro;
    text-align: center;
    font-size: 3rem;
    margin-top: 100px;
    font-family: $fontgrueso;
}
h2{
    color:$negro;
    text-align: center;
    font-size: 3rem;
    margin-top: 100px;
    font-family: $fontgrueso;
}
.fondo-index{
    background-image: url(../multimedia/Proyecto-nuevo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 100%;
    margin-top: 60px;
    padding: 150px 0px;
    text-align: center;
    p{
        font-family:$fontligero;
        color:$blanco ;
        font-size: 4rem;
        text-shadow: 4px 4px 4px #333;
    }
}
.contenedor {
    display: flex;
    .parte1,
    .parte2 {
    flex: 1;
    padding: 20px;
    }
}
.parte2{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    text-align: center;
}
  

.boton-index{
    background-color:$azulito ;
    color: $blanco;
    border-radius: 5px;
}
.tachado {
    text-decoration: line-through;
}
.h-index{
    color:$negro;
    text-align: center;
    font-size: 3rem;
    font-family: $fontgrueso;
    margin: 0%;
}
  
  
  