@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=EB+Garamond&family=Martian+Mono:wght@300&display=swap');

$salmon:antiquewhite;
$naranja:#d66a11;
$negro: #000000;
$blanco:white;
$azulito:#23306e;
$fontgrueso:'Bebas Neue', sans-serif;
$fontcomun:'Martian Mono', monospace;
$fontligero:'EB Garamond', serif;